/* line 3, ../scss/newEvent.scss */
#newEventBox #newEventNavigation {
  position: absolute;
  left: 40px;
  top: 15px;
  width: calc(100% - 50px);
}
/* line 10, ../scss/newEvent.scss */
#newEventBox .newEventBox {
  position: absolute;
  left: 40px;
  top: 70px;
  width: calc(100% - 40px);
  height: calc(100% - 70px);
  overflow-y: auto;
}
