body {
	background-color: rgba(47, 79, 79, 1);
	margin: 0 !important;
	user-select: none;
}

#mapsIFrame {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	width: 100%;
	min-width: 500px;
	height: 250px;
	z-index: 0!imporant;
}

#resultIFrame {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	min-width: 500px;
	top: 252px;
	height: 800px;
	z-index: 1;
}

#registrationIFrame {
	position: absolute;
	left: calc(50% - 205px);
	width: 410px;
	height: 740px;
	top: 50px;
	border: 2px solid black;
	z-index: 2;
}

.hidden {
	display: none;
}

#registrationButtonContainer {
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 500px;
    top: 252px;
    height: 50px;
    z-index: 2;
}

#showRegistrationButton, #hideRegistrationButton {
	position: absolute;
    top: 7px;
    right: 10px;
    height: 40px;
    padding: 0 10px;
    background-color: #172D2D;
    color: white;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
	font-size: 0.8em;
	z-index: 3;
}