#events {
	position: absolute;
	width: 100%;
	height: 100%;
}

#configureEvent-container {
	position: absolute;
	width: 350px;
	height: calc(100% - 60px);
	border-right: 1px solid whitesmoke;
}

.iframeInput {
	width: initial !important;
}

#configureEvent-container table {
	width: 319px;
	margin-left: 15px;
}

.centered {
	text-align: center;
}

#configureEvent-container table span {
	float: right;
	margin-right: 18px;
	color: rgb(76, 76, 76);
	text-align: right;
}

#configureEvent-container .withSeperator:after {
	content: '';
	width: 70%;
	left: 15%;
	background: rgba(128, 128, 128, 0.13);
	position: absolute;
	height: 2px;
	margin-top: 60px;
}

#configureEvent-container .floatLeft {
	float: left !important;
	margin-top: 5px;
	margin-bottom: 5px;
}

#configureEvent-container .col1 {
	width: 100px;
}

#configureEvent-container .col2 {
	width: 220px;
}

#configureEvent-container table select {
	width: 100%;
	padding: 2px 10px;
	font-size: inherit;
}

#configureEvent-container table input {
	width: 200px;
	padding: 2px 10px;
	font-size: inherit;
}

#configureEvent-container table input[type='datetime-local'] {
	padding: 0px 10px;
}

#configureEvent-container table thead td {
	padding-bottom: 10px;
}

#events #addPilotsToEventList {
	position: absolute;
	left: 365px;
	width: calc(100% - 365px);
	overflow-y: auto;
	height: calc(100% - 60px);
}

#eventSettings .esHeader {
	width: 50%;
	height: 29px;
	float: left;
	line-height: 30px;
	text-align: center;
	background-color: red;
	cursor: pointer;
	background-color: rgba(142, 140, 140, 0.22);
}

.esHeader.first {
	width: calc(50% - 1px) !important;
	border-right: 1px solid rgba(142, 140, 140, 0.42);
}

#eventSettings .showOnlineRegistrationPilots {
	margin: 10px 10px;
}

.esHeader.selected {
	background-color: rgba(142, 140, 140, 0.42) !important;
	border-top: 1px solid rgba(142, 140, 140, 0.42);
}

.esHeader:not (.selected ){
	border-bottom: 1px solid rgba(142, 140, 140, 0.42);
}

#eventSettings table {
	margin-left: 1px !Important;
}

#eventSettings {
	border-left: 1px solid rgba(142, 140, 140, 0.42);
	border-right: 1px solid rgba(142, 140, 140, 0.42);
	border-bottom: 1px solid rgba(142, 140, 140, 0.42);
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 170px);
}

#eventSettings .onlineRegisterCheckbox {
	width: initial !important;
}

#events #classTabs {
	width: 100%;
	height: 30px;
	height: 30px;
	display: flex;
	overflow: auto;
	margin-left: 1px;
}

#events #classTabs .classTab {
	height: 30px;
	background-color: rgba(142, 140, 140, 0.22);
	padding: 0 5px;
	margin-right: 1px;
	line-height: 30px;
	position: relative;
	float: left;
	text-align: center;
	overflow: hidden;
	width: 50%;
	text-overflow: ellipsis;
	cursor: pointer;
}

#events #createNewCompetitionButton {
	margin-top: 0px;
}

#events #classTabs .classTab.selected {
	height: 30px;
	background-color: rgba(142, 140, 140, 0.42);
	padding: 0 5px;
	margin-right: 1px;
	display: inline-block;
	line-height: 30px;
}

#events #raceConfigTable {
	background-color: rgba(142, 140, 140, 0.42) !important;
	margin-top: 0;
}

#events #raceConfigTable input {
	width: 30px !important;
	padding: 0px 10px;
	border: none;
}

#events #addPilotsToEventList table {
	width: 100%;
	border-collapse: collapse;
}

#events #addPilotsToEventList .added {
	background-color: rgba(97, 192, 71, 0.72) !important;
}

#events #addPilotsToEventList .oddRow {
	background-color: rgba(142, 140, 140, 0.22)
}

#events #addPilotsToEventList #pilotFilter {
	width: 35%;
}

#events #addPilotsToEventList table tr {
	cursor: pointer;
}

#events #addPilotsToEventList table thead td {
	padding-bottom: 10px;
}

#events #addPilotsToEventList table span {
	margin-left: 5px;
}

#events #addPilotsToEventList table table tbody span {
	color: rgb(16, 16, 16);
}

#events #addPilotsToEventList table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#events #addPilotsToEventList table tbody td {
	word-break: break-all;
}

#events #chooseClassTable tr, #events #chooseClassTable td, #events #chooseClassTable {
	width: 320px;
}

#events #chooseClassTable tr {
	cursor: pointer;
}

#events #chooseClassTable {
	margin-bottom: 5px;
}

#events #chooseClassTable tbody {
	display: block;
	height: 100px;
	overflow-y: scroll;
}

#events .saveCompetition {
	margin-left: 15px;
	position: fixed;
	width: calc(100% - 40px);
	bottom: 0;
	margin-bottom: 10px;
}

#events #selectClassDialogContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}

#onlinePilotsViewContainer .disableClick {
	pointer-events: none;
}

#events #onlinePilotsViewContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}

#onlinePilotsView {
	position: relative;
	top: 10%;
	max-height: 75%;
	width: calc(98% - 2vw);
	margin-left: 1%;
	border: 1px solid black;
	overflow: auto;
	padding: 1vw;
	box-shadow: inset 0 0 0 1000px rgba(204, 202, 207, 0.05);
	background-color: rgba(255, 255, 255, 1);
}

#onlinePilotsView .exists {
	background-color: rgba(255, 0, 0, 0.2) !important;
}

#onlinePilotsHeader {
	text-align: center;
	width: 100%;
}

#onlinePilotsView .onlinePilotsTable {
	width: calc(100% - 10px);
	margin-left: 10px;
	margin-top: 10px;
	border-collapse: collapse;
}

#onlinePilotsView .onlinePilotsTable thead td {
	padding-bottom: 10px;
}

#onlinePilotsView .onlinePilotsTable span {
	margin-left: 5px;
}

#onlinePilotsView .onlinePilotsTable span {
	color: rgb(16, 16, 16);
}

#onlinePilotsView .onlinePilotsTable td {
	padding-top: 6px;
	padding-bottom: 6px;
}

#onlinePilotsView .onlinePilotsTable tr button {
	cursor: pointer;
}

#onlinePilotsView .onlinePilotsTable tbody tr {
	border-left: 1px solid rgba(0, 0, 0, 0);
}

#onlinePilotsView .onlinePilotsTable .oddRow {
	background-color: rgba(142, 140, 140, 0.22);
}

#events #selectClassDialogContainer #selectClassDialog {
	position: relative;
	top: 10%;
	max-height: 75%;
	width: 40%;
	margin-left: 30%;
	border: 1px solid black;
	overflow: auto;
	padding: 1.5vw;
	box-shadow: inset 0 0 0 1000px rgba(204, 202, 207, 0.05);
	background-color: rgba(255, 255, 255, 1);
}

#events #selectClassDialogContainer #selectClassDialog p {
	text-align: center;
}

#events #selectClassDialogContainer #selectClassDialog .button {
	margin-bottom: 1.5vw;
}

#raceResult {
	position: absolute;
	left: 265px;
	width: calc(100% - 265px);
	overflow-y: auto;
	height: 100%;
}

#raceResult table {
	width: 100%;
	border-collapse: collapse;
}

#raceResult table thead td {
	padding-bottom: 10px;
}

#raceResult table span {
	margin-left: 5px;
}

#raceResult table table tbody span {
	color: rgb(16, 16, 16);
}

#raceResult table td {
	padding-top: 5px;
	padding-bottom: 5px;
}