@import 'variables';

#notificationContainer {
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	left: 5px;
	width: calc(100% - 30px);
	cursor: pointer;
	
	.notification {
		opacity:1;
    	-webkit-transition:opacity 1s ease-in-out;
		width: 100%;
		padding: 10px;
		background-color: red;
		font-size: 14px;
		color: $normal-font-color;
		margin-bottom: 1px;
		
		.type {
			font-weight: bold;
		}
	}
		
	.notification.fade {
	    opacity: 0 !important;
    }
	
	.notification.n1 { /* success */
		background-color: #EFFEB9;
    	border: 1px solid #9EB25B;
	}
	.notification.n2 { /* info */
		background-color: #D1E4F3;
    	border: 1px solid #6A88A2;
	}
	.notification.n3 { /* warn */
		background-color: #FFE9AD;
    	border: 1px solid #D6B66B;
	}
	.notification.n4 { /* error */
		background-color: #FCCAC1;
    	border: 1px solid #AE6C60;
	}
}