$color_greyButton: #4F555E;
$color_greyButton_selected: rgba(255,83,0,1);

$color_orangeButton: rgba(255,83,0,0.5);
$color_orangeButton_selected: rgba(255,83,0,1);

$color_orangeBasicButton: rgba(255,83,0,1);
$color_orangeBasicButton_hover: rgba(255,83,0,5);

$background_darkgrey: #1F2126;
$background_lightgrey: #34383F;

$header-line-border: #DDDDDE;
$header-font-color: #2D2E33;

$formBackground_darkgrey: #50555d;

$tableHeader: rgba(255,83,0,1);

$tableOddRow:  rgba(255,83,0,0.15);

$input-form-border: #ccc;
$invalid-border: red;

$normal-font-color: #2D2E33;